<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de DPS</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; background-color: #f7f7f7; }
        textarea { width: 100%; height: 250px; }
        .result { margin-top: 20px; background: #eee; padding: 15px; border-radius: 5px; }
    </style>
</head>
<body style="text-align: center; width: 100%;">
    <div style="max-width: 600px; margin: auto;">
        <h1>Calculadora de DPS para quem não tem calculadora no windows [RODRYGO] e [CHROMATA]</h1>
        <form method="post">
            {% csrf_token %}
            <label for="item_text">CONTROL + ALT + C:</label><br><br>
            <textarea name="item_text" required>{{ request.POST.item_text }}</textarea><br><br>
        
            <button type="submit">Calcular DPS</button>
            <a href="{% url 'index' %}">
                <button type="button">Nova Consulta</button>
            </a>
        </form>

        {% if dps %}
        <div class="result">
            <h2>Resultado:</h2>
            <p><strong>DPS Mínimo:</strong> {{ dps.min_dps }}</p>
            <p><strong>DPS Máximo:</strong> {{ dps.max_dps }}</p>
            <p><strong>DPS Médio:</strong> {{ dps.avg_dps }}</p>
        </div>
        {% endif %}
        <p>quem riu?</p>
    </div>
</body>
</html>
