.card-header {
  height: 100px;
  background: transparent;
}

#download-icon {
  font-size: 30px;
  color: black;
  opacity: 0.4;
}

#heading-card {
  font-size: 45px;
}

.cardheader-text {
  color: #fff;
}

.card-text.sub-text-color {
  color: #8c8c8c;
}

.card-text:last-child {
  font-size: 18px;
  color: #595959;
}

#cardheader-subtext {
  font-size: 20px;
}

.card.cards-shadown {
  box-shadow: 2px 2px 30px #aaaaaa;
  border-radius: 10px;
}

.row.space-rows {
  margin: 40px;
}

.col {
  padding: 0px 7px 0px 7px;
}

.card.cards-shadown.cards-hover:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 99;
}

.card-header:first-child:hover {
  background: transparent;
}

.footer-div {
  color: var(--bs-body-bg);
  font-family: Teko, sans-serif;
  font-size: 20px;
  margin-top: 1px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

a {
  color: var(--bs-body-bg);
  padding-right: 0px;
}

@media (min-width: 768px) {
  .navbar-nav {
  }
}

.nav-item {
  padding: 10px;
}

@media (min-width: 768px) {
  .navbar {
  }
}

@media (min-width: 768px) {
  .nav-item {
    padding: 0;
  }
}

.contact-button {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .contact-button {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .contact-button {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 34px;
    margin-bottom: 34px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.dropdown-span {
  font-family: Heebo, sans-serif;
  font-size: 16px;
  margin: 6px;
}

.dropdown-div {
  background: rgb(254,254,254);
  border-radius: 20px;
  padding-bottom: 0px;
  box-shadow: 1px 1px 4px 0px #b1b1b1;
  margin-top: 8px;
  margin-bottom: 8px;
}

.dropdown-p {
  font-family: Heebo, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

.dropdown-heading {
  color: var(--bs-blue);
  font-family: Teko, sans-serif;
}

.sport-div {
  width: 100%;
  height: 100px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.sport-heading {
  padding: 0px;
  margin: 24px;
  font-family: Teko, sans-serif;
}

.sport-div-border {
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: var(--bs-blue);
  color: var(--bs-body-bg);
}

section {
}

.section-sport-heading {
  margin-top: 11px;
}

@media (min-width: 768px) {
  .section-sport-heading {
    margin-top: 30px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1200px) {
  .section-sport-heading {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

.section-calendar {
  margin-top: 0px;
  margin-bottom: 40px;
}

